.app {
  min-height: 100vh;
  background: rgb(95, 167, 190);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet {
  height: 250px;
  width: 250px;
  border-radius: 30px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
  
.red{
  color: red;
  font-size: 50px;
}